# Python Virtual Environments
.venv/
venv/
env
# Python Caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
# Application Databases
*.db
*.db-journal
*.sqlite
# Streamlit Local Configurations
.streamlit/secrets.toml
.claude/
.agents/